<% include ../partials/head %>

<div class="container">
  <div class="col-sm-6">
    <!-- <div class="sm-3"> -->
    <input type="checkbox" id="select_all">
    <label class="custom-control-label ml-2" for="customCheck1">Seleccionar todos</label>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
            <tr>
              <th scope="col" style="width:15%;">Seleccionar</th>
              <th style="width:22%;">Nombre</th>
              <th style="width:22%;">Apellido</th>
              <th>Edad</th>
              <th>Categorias</th>
            </tr>
          </thead>
        <!-- ITEMS -->
        <tbody>
        <% for(var i = 0; i < products.length; i++) { %>
          <!-- <div class="col-md-4"> -->
            <tr>
              <td class=" text-center"> <input type="checkbox" id="inputCheck" value="<%= products[i]._id %>" class="chk" class="mt-1"></td>
              <td><%= products[i].name %></td>
              <td><%= products[i].category %></td>
              <td><%= products[i].price %></td>
              <!-- <td><span class="badge badge-success badge-dismissible">Whatsapp
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button></span> -->
            <td id="tags">
              <!-- <span class="badge badge-success">products[i].categoria[i]</span> -->
             <!-- <span class="badge badge-primary">Facebook</span> -->
           </td>
            </tr>
            <% } %>
      </tbody>
      </table>

  <div class="row">
    <!-- pagination -->
    <% if(pages > 0) { %> <!-- show pagination if there is pages -->
      <nav class="mx-auto">
        <ul class="pagination">
          <!-- FIRST ITEM -->
          <% if(current == 1) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">First</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/products/1">First</a>
            </li>
          <% } %>

          <!-- ITEMS  -->
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if(i !== 1) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">...</a>
            </li>
          <% } %>
          <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if(i == current) { %>
              <li class="page-item active">
                <a class="page-link" href="<%= i %>">
                  <%= i %>
                </a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/products/<%= i %>">
                  <%= i %>
                </a>
              </li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
               <li class="page-item disabled">
                 <a class="page-link" href="#">...</a>
               </li>
            <% } %>
          <% } %>

          <!-- LAST ITEM -->
          <% if(current == pages) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">
                Last
              </a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/products/<%= pages %>">
                Last
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    <% } %>
  </div>


<div class="row">
    <div class="form-group col-md-9">

      <div class="col-sm-3">

        <label for="select">Categoria:</label>
           <select id="categoria" name="categoria" class="categoria form-control">
             <option selected="selected" name="categoriaSeleccionada">Seleccionar*</option>
           </select>
           <button type="button" class="btn btn-primary" id="agregar">Aceptar</button>
     </div>

     <div class="col-sm-3">
     </div>
     <!-- </div> -->
   <!-- </div> -->
 <!-- </div> -->
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script>
          //SELECCIONAR TODOS LOS ITEMS--------------
          $('#select_all').click(function() {
            var c = this.checked;
            $(':checkbox').prop('checked',c);
        });
        //--------------------------------------------

      $(document).ready(function () {
        //CARGAR CATEGORIAS-----------------------------
        $.ajax({
            url: '/cargar-categorias',
            type: "POST",
            success : function(res){
              var options= $("#categoria");
              $.each(res, function(item) {
               options.append($("<option/>").val(this._id).text(this.nombre));
              });
             console.log('lista de categorias', res); }
      });
      //---------------------------------------------
      //PREGUNTAR CUALES ESTAN SELECCIONADOS------
      var cat;
      $("select.categoria").change(function(){
        cat = $(this).children("option:selected").text();
        console.log('categoria selecionada', cat);
        cati = $(this).children("option:selected").val();
        console.log('ID de categoria selecionada', cati);
      });
	        $("#agregar").click(function() {
            var arreglo= [],item;
            // $("tr td:nth-child(5)").append("span").addClass("badge badge-success").text(cat);
              $(".chk:checked").each(function() {
                arreglo.push($(this).val());
                item = $(this).val();
                $.ajax({
                  url: '/update-user',
                  type: "POST",
                  data: {item,cat},
                  success : function(res){
                    console.log('la respuesta del server es', res); }
                  });
                console.log('id del user es',item);
              });
           });

       });
      //---------------------------------------------
      </script>

      <!-- <script>
      $(function() {
    $('#select_all').change(function(){
        var checkboxes = $(this).closest('table').find(':checkbox');
        if($(this).prop('checked')) {
          checkboxes.prop('checked', true);
        } else {
          checkboxes.prop('checked', false);
        }
    });
});
        </script> -->
<% include ../partials/footer %>
